<!DOCTYPE html>
<html lang="en">
  <head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152782082-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= ENV['GA_PROPERTY_ID'] %>');
    </script>

    <title>Get help if you're staying at home due to coronavirus | Buckinghamshire Council</title>
    <meta name="viewport" content="width=device-width">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header class="site-header">
      <div class="container">
        <a href="https://www.buckinghamshire.gov.uk" class="site-header__masthead">
          <%= image_tag "logo.svg", alt: "Buckinghamshire Council" %>
        </a>
      </div>
    </header>

    <section class="beta-banner">
      <div class="beta-banner__inner container">
        <strong class="beta-banner__tag">Beta</strong>
        <p class="beta-banner__message">We're updating this website every day — <a href="https://docs.google.com/forms/d/e/1FAIpQLSdSsvGW-kMZQ2kf51fRYzkzXP_kZq7hi4hUVULr68Hj7PtpZw/viewform?usp=sf_link">your feedback</a> helps us improve it.</p>
      </div>
    </section>

    <div class="main-content-area">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        <p class="site-footer__notice">© 2020 Buckinghamshire Council</p>
        <nav class="site-footer__menu">
          <a class="site-footer__link" href="https://www.buckinghamshire.gov.uk/about/cookies/">Privacy & cookies</a>
          <a class="site-footer__link" href="https://docs.google.com/forms/d/e/1FAIpQLSdSsvGW-kMZQ2kf51fRYzkzXP_kZq7hi4hUVULr68Hj7PtpZw/viewform?usp=sf_link">Give feedback on this service</a>
        </nav>
      </div>
    </footer>


    <!-- Fathom - simple website analytics - https://usefathom.com -->
    <script>
    (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
    (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement(‘script’),
    m=f.getElementsByTagName(‘script’)[0];
    o.async=1; o.src=t; o.id=‘fathom-script’;
    m.parentNode.insertBefore(o,m)
    })(document, window, ‘https://cdn.usefathom.com/tracker.js', 'fathom');
    fathom(‘set’, ‘siteId’, ‘HBUWQJUM’);
    fathom(‘trackPageview’);
    </script>
    <!-- / Fathom -->

  </body>
</html>
